Trabalho3_python/latex/
Trabalho4_python/latex/
Trabalho5_python/latex/
Trabalho6_python/latex/
Trabalho7_python/latex/
Trabalho8_python/latex/
Trabalho9_python/latex/
Trabalho10_python/latex/
Trabalho11_python/latex/
Trabalho12_python/latex/
Trabalho4_python/imgs/
Trabalho3_python/imgs/
Trabalho5_python/imgs/
Trabalho6_python/imgs/
Trabalho7_python/imgs/
Trabalho8_python/imgs/
Trabalho9_python/imgs/
Trabalho10_python/imgs/
Trabalho11_python/imgs/
Trabalho12_python/imgs/
.vscode/
